/* Global Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; /* Apply tap highlight color */
  text-transform: uppercase; /* Change description text to uppercase */

}

button {
  outline: none !important; /* Remove outline on focus */
  -webkit-tap-highlight-color: transparent; /* Apply tap highlight color */
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #666;
}

/* Main Container */
.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Header Styles */
.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #1e1e1e; /* Dark background */
  color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Add a shadow for depth */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Adjust padding */
}

#level-container,
#coins-container {
  display: flex;
  align-items: center;
  background-color: #1e1e1e; /* Dark background */
  padding: 5px;
  border-radius: 5px;
}

#level-icon,
#coins-icon {
  width: 32px; /* Set a fixed width for the images */
  height: 32px; /* Set a fixed height for the images */
  margin-right: 2px; /* Add space between icon and text */
}

#level-value,
.coins-value {
  font-size: 11px; /* Increase font size */
  color: #fff; /* Gold color for better visibility */
  margin-right: 10px; /* Add space between icon and text */
}

#level-exp-bar {
  width: 100px; /* Set a specific width for the bar */
  height: 10px; /* Decrease height */
  background-color: #333; /* Dark background for the bar */
  border-radius: 5px;
  margin-right: 10px;
  overflow: hidden;
}

#level-exp-fill {
  height: 100%;
  width: 50%; /* Example width, change as needed */
  background: linear-gradient(90deg, #32cd32, #00ff00); /* Gradient effect */
  transition: width 0.3s ease; /* Smooth transition for width changes */
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.8), 0 0 10px rgba(0, 255, 0, 0.6); /* Glowing effect */
}

/* Main Content */
.main-content {
  padding-top: 80px; /* Space for fixed header */
  padding-bottom: 100px; /* Space for fixed footer */
  flex: 1;
  background-color: #666;
}

/* Tab Content */
.tab-content {
  display: none;
  background-color: #666;
}

.tab-content.active {
  display: block;
  width: 100%; /* Full width */
  margin: 0 auto; /* Center it within the width */
  text-align: center;
}

/* Footer Styles */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  font-size: 12px;
  background-color: #222;
  color: #fff;
}

.footer-item {
  text-align: center;
  flex: 1;
  cursor: pointer;
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center align items */
  padding: 10px;
}

.footer-icon {
  display: block;
  width: 32px; /* Adjust size as needed */
  height: 32px; /* Adjust size as needed */
  margin: 0 auto; /* Center the image */
}

.footer-icon.active {
  transform: scale(1.5); /* Increase the size */
  transition: transform 0.3s ease; /* Smooth transition */
}

.footer-item.active {
  background: rgba(0, 0, 0, 0.4); /* Darker background */
  border-radius: 5px;
}

.footer-text {
  font-size: 11px; /* Font size */
  text-align: center; /* Center align text */
  margin-top: 10px; /* Margin from the icon */
}


