
.confirm-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1002; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

.confirm-modal-content {
    position: absolute; /* Position it relative to the modal */
    top: 50%; /* 50% from the top */
    left: 50%; /* 50% from the left */
    transform: translate(-50%, -50%); /* Offset by half its own width and height */
    background-color: #1e1e1e; /* Dark background */
    padding:15px;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
    background-color: #333;

}

.confirm-modal-actions {
    display: flex;
    justify-content: center; /* Center the buttons */

}


.cmodal-confirm-button, .cmodal-cancel-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px; /* Add horizontal margin for spacing */
    font-size: 12px;
    font-weight: bold; /* Make the text bold */

}


.cmodal-confirm-button {
    background-color: #1e1e1e; /* Dark background */
    color: white;
}

.cmodal-cancel-button {
    background-color: #1e1e1e; /* Dark background */
    color: white;
}

.confirm-price {
    display: inline-flex; /* Use inline-flex to keep icon and text aligned */
    align-items: center; /* Center items vertically */
    vertical-align: middle; /* Center align the icon */

}

#confirm-icon {
    width: 32px; /* Set a width for the icon */
    height: 32px; /* Set a height for the icon */

}

#confirmation-message {
    font-size: 14px; /* Adjust the font size */
    margin: 10px 0; /* Add some margin above and below the message */
    text-align: center; /* Center the text */
    color: #fff; /* Set a color for the text */
    padding: 10px;
}



/* Accumulation Modal*/

.accumulation-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1002; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
  }
  
  .accumulation-modal-content {
    position: absolute; /* Position it relative to the modal */
    top: 50%; /* 50% from the top */
    left: 50%; /* 50% from the left */
    transform: translate(-50%, -50%); /* Offset by half its own width and height */
    background-color: #1e1e1e; /* Dark background */
    padding: 15px;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
    background-color: #333;
  
  }
  
  #accumulated-coins-message {
    font-size: 14px; /* Adjust the font size */
    margin: 10px 0; /* Add some margin above and below the message */
    text-align: center; /* Center the text */
    color: #fff; /* Set a color for the text */
    padding: 10px;
  }
  