.filter-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* margin-bottom: 5px; */
}

.filter-button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
    font-size: 11px;
}
.filter-container .active {
    background-color: #1e1e1e; /* Highlight color */
}

.shop-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 items in each row */
    gap: 15px;
    padding: 10px;
}

.shop-item {
    text-align: center;
    position: relative;
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
  background-color: #444;
    color: #fff;
    /* border: 3px solid #888; */
    border: 1px solid #999; /* Dotted border for empty slots */


}

.shop-item img {
    max-width: 40%;
    height: auto;
    padding: 10px;
}

.item-header {
    width: 100%;
    background-color: #1e1e1e; /* Dark background */
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-name {
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
}

.item-description {
    width: 100%;
    font-size: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2); /* Darker background */
}

.item-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item-price {
    width: 100%;
    display: flex;
    justify-content: center; /* Center contents horizontally */
    align-items: center; /* Center contents vertically */
    font-size: 12px;
    background-color: #1e1e1e; /* Dark background */
    padding: 5px;
    /* font-weight: bold; */
}

.item-price-content {
    display: flex; /* Use flex to align icon and text horizontally */
    align-items: center; /* Center items vertically */

}

#coin-icon {
    width: 24px;
    height: 24px;
    margin-right: -10px;
    margin-left: -20px;
}

.price-value {
    line-height: 1;
    vertical-align: middle;
    padding: 5px;
}

.item-overlay {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%; /* Adjusted to fill the screen */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
    padding-bottom: 2000px;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    backdrop-filter: blur(1px); /* Add blur effect */


}

.overlay-content {
    background-color: #333;
    /* border: 1px solid #888; */
    border: 1px solid #999; /* Dotted border for empty slots */
    border-radius: 5px;
    text-align: center;
    position: relative;
    width: 80%; /* Adjust width */
    max-width: 600px; /* Slightly wider */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8); /* Shadow for depth */
}

h2 {
    font-size: 14px; /* Larger title */
    font-weight: bold;
    color: #fff; /* White color for emphasis */
    padding: 20px;
    background-color: #1e1e1e; /* Dark background */
    border-radius: 5px 5px 0 0; /* Only top corners rounded */
}

#overlay-item-image {
    width: 40%;
    max-width: 224px; /* Adjusted for a better fit */
    max-height: 224px; /* Adjusted for a better fit */
    padding: 15px;
    /* border-radius: 10px; /* Rounded corners */
    /* border: 2px solid #4caf50; Green border for RPG theme */ 
}

#overlay-item-description {
    font-size: 11px; /* Increase font size */
    color: #fff; /* White color for readability */
    background: rgba(0, 0, 0, 0.2); /* Darker background */
    padding: 10px;

}


.overlay-details {
    padding: 20px;
}

.detail-item {
    display: flex; /* Flexbox for alignment */
    justify-content: space-between; /* Space between label and value */
    align-items: center; /* Center vertically */
    padding: 5px 0; /* Padding for spacing */
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Bottom border for separation */
    font-size: 12px;

}

.detail-item:last-child {
    border-bottom: none; /* Remove border for the last item */
}

.detail-value {
    display: flex; /* Use flexbox to align icon and price text */
    align-items: center; /* Center items vertically */
    color: #fff; /* Color for value text */
    font-size: 11px; /* Font size for values */
    margin-left: 10px; /* Space between label and value */
}

.price-icon {
    max-width: 24px; /* Adjust width as needed */
    max-height: 24px; /* Adjust height as needed */
    margin-right: 5px; /* Space between icon and price */
    vertical-align: middle; /* Center align the icon */
}

.quantity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.quantity-button {
    background: rgba(0, 0, 0, 0.2); /* Darker background */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 15px;
}

.quantity-input {
    width: 50px;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.purchase-button {
    width: 100%;
    padding: 25px;
    background-color: #1e1e1e; /* Dark background */
    color: #fff;
    border: none;
    border-radius: 0 0 5px 5px; /* Only top corners rounded */
    cursor: pointer;
    transition: background-color 0.3s; /* Transition effect */
    font-size: 14px;
    font-weight: bold;
}


