/* Container for the entire character screen */
#equipment-container {
    display: grid;
    grid-template-areas: 
        "head"
        "top"
        "hand"
        "bottom"
        "feet";
    gap: 20px;
    max-width: 80%;
    margin: 0 auto;
}

/* Individual slots */
#equipment-container .equipped-item {
    border-radius: 5px;
    text-align: center;
    background-color: #1e1e1e; /* Dark background */
    padding: 30px;

}

#equipment-container img {
    padding: 10px; /* Add padding specific to equipped item images */

}

#equipment-container .equipped-item-img {
    width: 30%; /* Specific styles for equipped item images */
    object-fit: cover; /* Maintain aspect ratio */
    padding: 20px; /* Add padding specific to equipped item images */
}


#equipment-container .item-info {
    text-align: center;
}

.item-stars{
    margin-top: -20px;
}
/* #equipment-container .item-info h3 {
    font-size: 16px;
    margin-bottom: 4px;
    color: #fff; /* Color to indicate item rarity 
} */



/* Specific grid area assignments for each slot */
#equipment-container .equipped-item[data-slot="Head"] {
    grid-area: head;
}

#equipment-container .equipped-item[data-slot="Top"] {
    grid-area: top;
}

#equipment-container .equipped-item[data-slot="Hand"] {
    grid-area: hand;
}

#equipment-container .equipped-item[data-slot="Bottom"] {
    grid-area: bottom;
}

#equipment-container .equipped-item[data-slot="Feet"] {
    grid-area: feet;
}

/* Style for the empty slot placeholders */
.empty-slot-placeholder p {
    color: #666;
    font-style: italic;
    margin: 0;
}

.item-name h3{

font-size: 16px;
}

#equipment-container .item-info p {
    font-size: 11px;
    color: #fff;
}

.income-text {
    font-size: 18px; /* Adjust size as needed */
    color: #fff; /* Keep the color consistent */
}

/* To ensure that the income text is not affected by the general item info styles */
#equipment-container .item-info .income-text {
    font-size: 12px; /* Set your desired size */
}

.equipped-item.COMMON .item-name h3 {
    color: #b0b0b0; /* Color for COMMON items */
}

.equipped-item.UNCOMMON .item-name h3 {
    color: #4caf50; /* Color for UNCOMMON items */
}

.equipped-item.RARE .item-name h3 {
    color: #FFD700; /* Color for RARE items */
}

.equipped-item.EPIC .item-name h3 {
    color: #e040fb; /* Color for EPIC items */
}

/* Placeholder for empty slot */
.empty-slot-placeholder {
    color: #444; /* Placeholder text color */
    text-align: center;
}

.equipped-item {
    border: 2px solid transparent; /* Default border color */
}

.equipped-item.COMMON {
    border-color: #b0b0b0; /* Common rarity color */
}

.equipped-item.UNCOMMON {
    border-color: #4caf50; /* Uncommon rarity color */
}

.equipped-item.RARE {
    border-color: #FFD700; /* Rare rarity color */
}

.equipped-item.EPIC {
    border-color: #e040fb; /* Epic rarity color */
}


.income-container {
    display: flex; /* Use flexbox to align items in a row */
    align-items: center; /* Center items vertically */
    margin-bottom: -20px;
}


.income-container img {
    width: 32px; /* Adjust width as needed */
    height: 32px; /* Adjust height as needed */
    margin-right: -5px;
    margin-left: -5px;
}

#stats-container {
    margin-bottom: 20px; /* Space between stats and equipment */
    text-align: center; /* Center align the stats */
    color: #fff; /* Text color */
}

#stats-container h3 {
    font-size: 12px; /* Adjust size as needed */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center align items vertically */
    justify-content: center; /* Center align items horizontally */
    border-radius: 0px 0px 0 0; /* Only top corners rounded */

}

.currency-icon {
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
    margin-left: 5px; /* Space between profit text and icon */
}

